pandas
python-dotenv
fastapi
uvicorn[standard]
gunicorn
jupyter
pypyr
numpy
joblib
pydantic
python-dotenv
requests
penaltyblog
scikit-learn
understat
nest-asyncio
aiohttp
pyarrow
sqlalchemy
python-dotenv
psycopg2-binary
beautifulsoup4
lxml
